<launch>
    <node pkg="rosserial_python" name="ros_serial" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
    </node>
    <node pkg="armrobot_py" name="calc_ik" type="ik6dof.py" output="screen"/>
    <node pkg="armrobot_py" name="csv_to_servo" type="csv_to_servo.py" output="screen"/>
    <node pkg="armrobot_py" name="csv_to_keys" type="csv_to_keys.py" output="screen"/>
</launch>